<div class="mx-5 mb-8 grid">
    <p class="text-sm">Home > Contract change procedure > Current contract details</p>
    <div class="col-12 lg:col-12 text-center">
        <h1>Current Contract Details</h1>
    </div>
    <div class="col-12 lg:col-12">
        <h2 class="text-center">Contract Information<i class="fa-solid fa-pencil ml-4"></i></h2>
        <div class="grid" style="padding: 0px 9%;">
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Plan Name</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">Maru_PRD</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Contract Capacity</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">Ampere</p>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-12">
        <h2 class="text-center">Contractor Information<i class="fa-solid fa-pencil ml-4"></i></h2>
        <div class="grid" style="padding: 0px 9%;">
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Account ID</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">289</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Customer Number</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">20-1000302</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>SPID</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">0600000066666666665555</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Contractor Name</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">Alisa_Alya_01</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Contractor Name Kana</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">Aila_Arsh_01</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>DOB</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">79/12/31</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Postal code</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">678-9765</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Address</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">Park road, japan</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Phone Number</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">86-45535-35352</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Email Address</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">bhavya.chandrasekar@tally-group.com</p>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-12">
        <h2 class="text-center">Payee Information<i class="fa-solid fa-pencil ml-4"></i></h2>
        <div class="grid" style="padding: 0px 9%;">
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Payee Name</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">Riyaan</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Payee Name Kana</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">Vel</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Postal code</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">600-0000</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Address</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">京都府 京都市下京区 以下に掲載がない場合</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Phone Number</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">54-6786-8768</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Email Address</h4>
            </div>
            <div class="col-12 lg:col-7">
                <p class="m-0">bhavya.chandrasekar@tally-group.com</p>
            </div>
            <div class="col-12 lg:col-5">
                <h4 class="m-0"><sup>*</sup>Issuing a receipt</h4>
            </div>
            <div class="col-12 lg:col-7">
                <h4 class="m-0">No</h4>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-12 text-center">
        <p>* Please apply for the issuance of receipts only when paying by account transfer.<br>
            A prescribed fee will be charged every month.
        </p>
    </div>
</div>