<div class="grid mb-8 text-center mx-5">
    <p class="text-sm">Home > Usage details</p>
    <div class="col-12 lg:col-12 p-0">
        <h3>Contract Change Procedure</h3>
    </div>
    <div class="col-12 lg:col-12 p-0">
        <p>Please select the button you would like to apply for.</p>
    </div>
    <div class="col-12 lg:col-12 p-0">
        <h4>Moving procedure</h4>
    </div>
    <div class="col-12 lg:col-12 p-0">
        <button class="px-3 py-2 mx-2 text-black-alpha-90 bg-white" pButton style="border-color: #E60012;">Switching due
            to moving</button>
    </div>
    <div class="col-12 lg:col-12 p-0">
        <h4>Change / addition of contract plan</h4>
    </div>
    <div class="col-12 lg:col-12 p-0">
        <button class="px-3 py-2 mx-2 text-black-alpha-90 bg-white" pButton style="border-color: #E60012;">Change of
            electricity rate plan</button>
        <button class="px-3 py-2 mx-2 text-black-alpha-90 bg-white" pButton style="border-color: #E60012;">Marubeni
            Shindenki Hikari</button>
    </div>
    <div class="col-12 lg:col-12 p-0">
        <h4>Contract details change</h4>
    </div>
    <div class="col-12 lg:col-12 p-0">
        <p>We accept procedures for changing the payment method, contract name, and mailing address for documents.</p>
    </div>
    <div class="col-12 lg:col-12 p-5">
        <button class="px-3 py-2 mx-2 text-black-alpha-90 bg-white" pButton style="border-color: #E60012;">Change
            payment method</button>
        <button class="px-3 py-2 mx-2 text-black-alpha-90 bg-white" pButton style="border-color: #E60012;">other
            changes</button>
    </div>
    <div class="col-12 lg:col-12">
        <button class="px-6 py-2 mx-2 text-white" pButton
            style="border-radius: 20px;background-color: #E60012;border-color: #E60012;">Other Inquiries</button>
    </div>
    <div class="col-12 lg:col-12 p-0">
        <p>* If you wish to perform procedures other than the above, such as suspension due to moving or changing
            amperage,<br>
            Our company <a href="">Customer center</a> Please contact us. (Individual / Corporate of low-voltage
            customers)</p>
    </div>
</div>